[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pdfplumber = "*"
python-finance-buddy = {file = ".", editable = true}
rapidfuzz = "*"
scikit-learn = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3"
